<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Skillsland</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>
  <body>
    <div class="navbar">
      <button class="journey" role="button">About</button>

      <a href="/login" class="journey" role="button">Login</a>
      <button class="journey" role="button">Signup</button>
    </div>
    <div class="wrapper">
      <h2 class="intro noselect">You have arrived to</h2>
    </div>
    <div class="center">
      <div class="center risingtextup">
        <h1 class="skills_text noselect">SKILLAND</h1>
        <h1 class="skills_text noselect">SKILLAND</h1>
        <h1 class="skills_text noselect">SKILLAND</h1>
        <h1 class="skills_text noselect">SKILLAND</h1>
      </div>
      <h1 id="centerText" class="skills_text noselect mainoutline">SKILLAND</h1>
      <div class="center fallingtextdown">
        <h1 class="skills_text noselect">SKILLAND</h1>
        <h1 class="skills_text noselect">SKILLAND</h1>
        <h1 class="skills_text noselect">SKILLAND</h1>
        <h1 class="skills_text noselect">SKILLAND</h1>
      </div>
    </div>
    <h2 class="intro2 noselect">Gain friends and skills that last.</h2>
    <button class="journey" role="button">Start Your Journey</button>
  </body>
</html>
