<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Skillsland</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>

  <body class="skill-inventory-page">
    <div class="center-content-flex">
      <div class="welcome-header"><h2>Your Perfect Matches Await</h2></div>
      <p class="progress-label">
        We've analyzed your responses and found the best skill exchange partners
        for you.
      </p>
      <div class="matches-content">
        <div class="matches-container">
          <img class="match-image" src="../static/Matches/Rectangle 231.png " />
          <p class="match-name">Priya Patel</p>
          <p class="match-description">
            A talented cloud developer passionate about leveraging cloud
            solutions for sustainability.
          </p>
          <div class="matches-button-container">
            <div class="matches-button-outline">Profile</div>
            <div class="matches-button">Book Now</div>
          </div>
        </div>
        <div class="matches-container">
          <img class="match-image" src="../static/Matches/Rectangle 231.png " />
          <p class="match-name">Priya Patel</p>
          <p class="match-description">
            A talented cloud developer passionate about leveraging cloud
            solutions for sustainability.
          </p>
          <div class="matches-button-container">
            <div class="matches-button-outline">Profile</div>
            <div class="matches-button">Book Now</div>
          </div>
        </div>
        <div class="matches-container">
          <img class="match-image" src="../static/Matches/Rectangle 231.png " />
          <p class="match-name">Priya Patel</p>
          <p class="match-description">
            A talented cloud developer passionate about leveraging cloud
            solutions for sustainability.
          </p>
          <div class="matches-button-container">
            <div class="matches-button-outline">Profile</div>
            <div class="matches-button">Book Now</div>
          </div>
        </div>
        <div class="matches-container">
          <img class="match-image" src="../static/Matches/Rectangle 231.png " />
          <p class="match-name">Priya Patel</p>
          <p class="match-description">
            A talented cloud developer passionate about leveraging cloud
            solutions for sustainability.
          </p>
          <div class="matches-button-container">
            <div class="matches-button-outline">Profile</div>
            <div class="matches-button">Book Now</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
