<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Skillsland</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>

  <body class="skill-inventory-page">
    <h1>People</h1>
    <table id="people">
      <tr>
        <th></th>
        <th>Name</th>
        <th>In-person / Virtual Meeting</th>
        <th>You are Teaching</th>
        <th>You are Learning</th>
      </tr>
      <tr>
        <td><img src="../static/Matches/Rectangle 231.png" /></td>
        <td>Jane Doe</td>
        <td>In-person</td>
        <td>Badminton</td>
        <td>Kayaking</td>
      </tr>
      <tr>
        <td><img src="../static/Matches/Rectangle 231.png" /></td>
        <td>Jane Doe</td>
        <td>In-person</td>
        <td>Badminton</td>
        <td>Kayaking</td>
      </tr>
      <tr>
        <td><img src="../static/Matches/Rectangle 231.png" /></td>
        <td>Jane Doe</td>
        <td>In-person</td>
        <td>Badminton</td>
        <td>Kayaking</td>
      </tr>
    </table>
  </body>
</html>
