<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Skillsland</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>

  <body class="skill-inventory-page">
    <div class="profile-page">
      <div class="profile-page-header">
        <img src="../static/Matches/Rectangle 232.png" />
        <div class="profile-page-header-info">
          <h2>William Thompson</h2>
          <h3>Toronto, Canada</h3>
        </div>
      </div>
      <div class="profile-info">
        <h4>Overview</h4>
        <div class="line"></div>
        <p class="profile-paragraph">
          Hi, I'm William Thompson, a seasoned UX designer with over 10 years in
          the field. I have a passion for creating intuitive, user-friendly
          experiences. I strongly believe in sustainable design practices and
          using technology to solve real-world problems.
        </p>
        <div class="work-experience-title">
          <img
            src="../static/Images/bytesize_work.png"
            class="work-experience-icon"
          />
          <h2>Work Experience</h2>
        </div>
        <p class="profile-paragraph">
          Hi, I'm William Thompson, a seasoned UX designer with over 10 years in
          the field. I have a passion for creating intuitive, user-friendly
          experiences. I strongly believe in sustainable design practices and
          using technology to solve real-world problems.
        </p>

        <div class="profile-page-buttons">
          <div class="matches-button-outline">Return to Menu</div>
          <div class="matches-button">Schedule Booking Now</div>
        </div>
      </div>
    </div>
  </body>
</html>
