<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Skillsland</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>

  <body class="skill-inventory-page">
    <div class="center-content-flex">
      <div class="welcome-header"><h3>Interests Inventory</h3></div>
      <div class="progress-container">
        <p class="progress-label">What are you interested in?</p>
        <div class="progresss-bar">
          <div class="progress-bar-progress"></div>
        </div>
        <p class="disclaimer">
          Please select one or more categories that represent the interests you can
          offer.
        </p>
      </div>
      <div class="answer-content">
        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Music & Instruments" class="answer-container">
            <img src="../static/Images/Group 2323.png" />
            <p>Music & Instruments</p>
            
          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Coding & Technology" class="answer-container">
            <img src="../static/Images/Vector.png" />
            <p>Coding & Technology</p>

          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Cooking & Baking" class="answer-container">
            <img src="../static/Images/Vector-1.png" />
            <p>Cooking & Baking</p>
 
          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Arts & Craft" class="answer-container">
            <img src="../static/Images/Vector-2.png" />
            <p>Arts & Craft</p>

          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Languages & Communications" class="answer-container">
            <img src="../static/Images/icon-park-outline_communication.png" />
            <p>Languages & Communications</p>
            
          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Fitness & Wellbeing" class="answer-container">
            <img src="../static/Images/maki_fitness-centre.png" />
            <p>Fitness & Wellbeing</p>
            
          </div>
        </label>
      </div>
      <div id="interest_Science & Academics" class="answer-content">
        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Vector-5.png" />
            <p>Science & Academics</p>
            
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Home & DIY" class="answer-container">
            <img src="../static/Images/Vector-4.png" />
            <p>Home & DIY</p>
            
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Business & Finance" class="answer-container">
            <img src="../static/Images/carbon_finance.png" />
            <p>Business & Finance</p>
            
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Outdoor & Adventure" class="answer-container">
            <img src="../static/Images/Vector-3.png" />
            <p>Outdoor & Adventure</p>
            
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Photography & Videography" class="answer-container">
            <img src="../static/Images/Vector-6.png" />
            <p>Photography & Videography</p>
            
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div id="interest_Personal Development" class="answer-container">
            <img
              src="../static/Images/icon-park-outline_personal-collection.png"
            />
            <p>Personal Development</p>
            
          </div>
        </label>
      </div>

      <p class="disclaimer">
        Note: Selecting multiple categories will increase your chances of
        finding a compatible interest exchange partner.
      </p>
      <div class="next-navigation-container">
        <a class="next-button">Previous</a>
        <a class="next-button"  href="/matches" >class="next-button">Next</a>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function () {
      console.log("ready!");

      // Add click event listener to all checkboxes
      $(".switch input[type='checkbox']").click(function() {
        var div_id = $(this).parent().find(".answer-container").attr('id'); // Get the ID of the parent <div>

        // Create a data object to send to the server
        var dataToSend = {
          "div_id": div_id
        };

        $.ajax({
          url: '/div_clicked',
          type: 'POST',
          contentType: 'application/json',
          dataType: 'json',
          data: JSON.stringify(dataToSend),
          success: function(response) {
            console.log(response);
          }
        });
      });
    });
  </script>
</html>
