<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Skillsland</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>

  <body class="skill-inventory-page">
    <div class="center-content-flex">
      <div class="welcome-header"><h3>Skill Inventory</h3></div>
      <div class="progress-container">
        <p class="progress-label">What skill(s) can you offer to teach?</p>
        <div class="progresss-bar">
          <div class="progress-bar-progress"></div>
        </div>
        <p class="disclaimer">
          Please select one or more categories that represent the skills you can
          offer.
        </p>
      </div>
      <div class="answer-content">
        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Group 2323.png" />
            <p>Music & Instruments</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Vector.png" />
            <p>Coding & Technology</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Vector-1.png" />
            <p>Cooking & Baking</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Vector-2.png" />
            <p>Arts & Craft</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/icon-park-outline_communication.png" />
            <p>Languages & Communications</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>
        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/maki_fitness-centre.png" />
            <p>Fitness & Wellbeing</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>
      </div>
      <div class="answer-content">
        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Vector-5.png" />
            <p>Science & Academics</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Vector-4.png" />
            <p>Home & DIY</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/carbon_finance.png" />
            <p>Business & Finance</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Vector-3.png" />
            <p>Outdoor & Adventure</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img src="../static/Images/Vector-6.png" />
            <p>Photography & Videography</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>

        <label class="switch">
          <input type="checkbox" />
          <div class="answer-container">
            <img
              src="../static/Images/icon-park-outline_personal-collection.png"
            />
            <p>Personal Development</p>
            <select class="selection">
              <option value="beginner">Beginner</option>
              <option value="intermediate">Intermediate</option>
              <option value="advanced">Advanced</option>
              <option value="expert">Expert</option>
            </select>
          </div>
        </label>
      </div>

      <p class="disclaimer">
        Please select one or more categories that represent the skills you can
        offer.
      </p>
      <div class="next-navigation-container">
        <div class="next-button">Previous</div>
        <div class="next-button">Next</div>
      </div>
    </div>
  </body>
</html>
