<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Skillsland</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
  </head>

  <body>
    <div class="center-content-flex">
      <div class="welcome-header"><h2>Welcome to Skilland!</h2></div>
      <div class="welcome-subheader">
        <p>Empower your skills by teaching or learning from others</p>
      </div>
      <div class="answer-content">
        <div class="answer-container">I'm a learner</div>
        <div class="answer-container">I'm a skill provider</div>
      </div>
      <div class="answer-container next-button">Next</div>
    </div>
  </body>
</html>
